{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ABOUT</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="ABOUT">
    <meta name="keywords" content="ABOUT">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>

    <!-- Local CSS via Django Static -->
    <link rel="stylesheet" href="{% static 'tele_medicine/css/combined.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tele_medicine/css/default.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tele_medicine/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tele_medicine/css/navigation.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tele_medicine/css/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Lato:400,700,300,100" type="text/css" />

    <style>
        .navbar {
            background-color: #0c0101ff;
            border: none;
            margin-bottom: 0;
        }
        .navbar .siteNavLink {
            color: #333 !important;
            font-weight: 500;
            text-transform: uppercase;
            padding: 15px;
            transition: color 0.3s ease;
        }
        .navbar .siteNavLink:hover,
        .navbar .siteNavLink:focus {
            color: #007bff !important;
            background-color: transparent;
        }
        .websiteLogoName {
            color: #333 !important;
            font-weight: 600 !important;
            letter-spacing: 1px;
        }
        .navbar-toggle .icon-bar {
            background-color: #333;
        }
        .blockHeader {
            background-color: #ffffff;
            padding: 15px 0;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
        body {
            padding-top: 90px; /* Height of your header */
        }
    </style>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'tele_medicine/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'tele_medicine/images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'tele_medicine/images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'tele_medicine/images/apple-touch-icon-114x114.png' %}">
</head>

<body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<header class="blockHeader wb-header">
    <div class="container boxWidget">
        <div class="logoWidget logo logoTextSettingClass">
            <a href="{% url 'home' %}" title="">
                <span id="logoTextWrap">
                    <span class="websiteLogoName" style="font-family: Roboto; font-size: 25px;">
                        TeleHealth Connect 24/7
                    </span>
                </span>
            </a>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navWidget navbar-collapse collapse">
                <ul class="parent-nav-ul nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}" class="siteNavLink">HOME</a></li>
                    <li><a href="{% url 'about' %}" class="siteNavLink">ABOUT</a></li>
                    <li><a href="{% url 'services' %}" class="siteNavLink">SERVICES</a></li>
                    <li><a href="{% url 'login' %}" class="siteNavLink">LOGIN</a></li>
                    <li><a href="{% url 'contact' %}" class="siteNavLink">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div id="about" class="page wb-page" style="margin-top: 20px;">
    <section class="breadcrumb-section dark sec-padding-lg" style="background-image: url('https://images.pexels.com/photos/1350560/pexels-photo-1350560.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=627&amp;w=1200'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container boxWidget">
            <div class="col-lg-6" style="margin-top: 60px; margin-left: 0; text-align: left;">
                <div class="richTextWidget title-heading">
                    <h1 style="color: white; margin-left: 10px; margin-top: 30px;">About Us</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="widget-section">
        <div class="container boxWidget">
            <div class="row custom-row">
                <div class="col-lg-6 col-sm-8 col-sm-12">
                    <div class="imageWidget">
                        <img class="lazyload curve-img-big" data-src="https://images.pexels.com/photos/3714743/pexels-photo-3714743.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=627&amp;w=1200">
                    </div>
                    <div class="imageWidget">
                        <img class="lazyload curve-img-sml" data-src="https://images.pexels.com/photos/3279197/pexels-photo-3279197.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=627&amp;w=1200">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="richTextWidget para-normal">
                        <h1 style="margin-top:14px;">Vision</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fun-flix-type widget-section">
        <div class="container boxWidget">
            <div class="row custom-row">
                <div class="col-lg-5">
                    <div class="richTextWidget para-normal">
                        <h1>Professional Team</h1>
                        <p>Our mission is to improve access, outcomes, and convenience for everyone in the community...</p>
                        <a href="#" class="theme-button">Our Features</a>
                    </div>
                </div>
                <div class="col-lg-7 item-box-wrapper">
                    <div class="new-item"><img class="lazyload team-img" data-src="//static.sitemantic.com/webbuilder/images/testimonials/img-9.jpg"></div>
                    <div class="new-item"><img class="lazyload team-img" data-src="//static.sitemantic.com/webbuilder/images/testimonials/img-4.jpg"></div>
                    <div class="new-item"><img class="lazyload team-img" data-src="//static.sitemantic.com/webbuilder/images/testimonials/img-6.jpg"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footerBefore wb-footer theme-dark-color-11" style="background: url('//images.unsplash.com/photo-1505236858219-8359eb29e329?ixlib=rb-1.2.1&auto=format&fit=crop&w=1430&q=80') fixed no-repeat center center; background-size: cover;">
    <div class="container boxWidget" style="color: white;">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-logo">
                        <a href="#" style="color: white;">Company Overview</a>
                        <p style="color: white;">With a commitment to excellence and customer satisfaction...</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 style="color: white;">Contact</h5>
                    <ul>
                        <li style="color: white;"><a href="#" style="color: white;">TeleHealth Connect 24/7</a></li>
                        <li style="color: white;"><a href="#" style="color: white;">7908324656</a></li>
                        <li style="color: white;"><a href="mailto:sancharigandhi474@gmail.com" style="color: white;">sancharigandhi474@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 style="color: white;">Services</h5>
                    <ul>
                        <li><a href="{% url 'services' %}" style="color: white;">Chronic Disease Management</a></li>
                        <li><a href="{% url 'services' %}" style="color: white;">Electronic Prescriptions</a></li>
                        <li><a href="{% url 'services' %}" style="color: white;">Remote Monitoring</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-center" style="color: white;">© 2025 TeleHealth Connect 24/7. All rights reserved.</p>
    </div>
</footer>

<!-- External Scripts -->
<script src="https://static.sitemantic.com/webbuilder/js/lightbox/src/js/lightbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
<script>
  wow = new WOW({ animateClass: 'animated', offset: 100 });
  wow.init();
</script>

</body>
</html>